
.footer_outer_container {
    /* background-color: #292727; */
    color: gray;
    display: flex;
    justify-content: center;
}
.footer_iner_container {
    width: 60%;
}
.footer_icons {
    gap: 20px;
    width: 12%;
    margin-left: 10px;
    padding: 10px;
    color: #fff;
    display: flex
}
.footer_data {
    display: flex;
    justify-content: space-between;
}
.footer_data ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li {
    cursor: pointer;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 15%;
    margin: 10px 0;
    cursor: pointer;
}